<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @cid.code %>
</p>

<p>
  <strong>Description:</strong>
  <%= @cid.description %>
</p>

<%= link_to 'Edit', edit_cid_path(@cid) %> |
<%= link_to 'Back', cids_path %>
