<h1>Pesquisas</h1>

<table>
  <thead>
    <tr>
      <th>Prontuário</th>
      <th>Nome</th>
      <th>Cns</th>
      <th>Sexo</th>
      <th>Peso</th>
      <th>Altura</th>
      <th>Cor</th>
      <th>Unit</th>
      <th>Leito</th>
      <th>Data de Admissão</th>
      <th>Hospital</th>
      <th>Ram</th>
      <th>Medications</th>

      <th>Consumo de Etilismo</th>
      <th>Tempo de Etilismo</th>

      <th>Consumo de Tabagismo</th>
      <th>Tempo de Tabagismo</th>

      <th>Gravidade</th>
      <th>Plantas Medicinais</th>
      <th>Reacães Adversas</th>
      <th>Sequelas</th>

      <th>Tratamento</th>
      <th>Exposiço Previa</th>
      <th>Desenvolveu Reação</th>
      <th>usa Cocaina</th>
      <th>usa Crack</th>
      <th>usa LSD</th>
      <th>usa Maconha</th>
      <th>anotherLocation</th>

      <th>Algoritmo Naranjo</th>
      <th>Algoritmo OMS</th>
      <th>Algoritmo RUCAM</th>
      <th>Algoritmo UE</th>

      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @researches.each do |research| %>
      <tr>
        <td><%= research.handbook %></td>
        <td><%= research.name %></td>
        <td><%= research.cns %></td>
        <td><%= research.sex %></td>
        <td><%= research.weight %></td>
        <td><%= research.height %></td>
        <td><%= research.color %></td>
        <td><%= research.unit %></td>
        <td><%= research.bed %></td>
        <td><%= research.admission %></td>
        <td><%= research.hospital.name %></td>
        <td><%= research.ram %></td>
        <td><%= research.medications.length %></td>

        <th><%= research.etilismo %></th>
        <td><%= research.tempoEtilismo %></td>

        <td><%= research.tabagismo %></td>
        <td><%= research.tempoTabagismo %></td>

        <td><%= research.gravity %></td>
        <td><%= research.plantasMedicinais %></td>
        <td><%= research.reacoesAdversas %></td>
        <td><%= research.sequels %></td>

        <td><%= research.treatment %></td>
        <td><%= research.exposicaoPrevia %></td>
        <td><%= research.desenvolveuReacao %></td>
        <td><%= research.usaCocaina %></td>
        <td><%= research.usaCrack %></td>
        <td><%= research.usaLSD %></td>
        <td><%= research.usaMaconha %></td>
        <td><%= research.anotherLocation %></td>

        <td><%= research.algNaranjo %></td>
        <td><%= research.algOMS %></td>
        <td><%= research.algRUCAM %></td>
        <td><%= research.algUE %></td>
        <td><%= link_to 'Show', research %></td>
        <td><%= link_to 'Editar', edit_research_path(research) %></td>
        <td><%= link_to 'Deleta', research, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Excel Research', action: :excel, format: :xls %>

