<h1>Listing researches</h1>

<table>
  <thead>
    <tr>
      <th>Handbook</th>
      <th>Name</th>
      <th>Cns</th>
      <th>Sex</th>
      <th>Weight</th>
      <th>Height</th>
      <th>Color</th>
      <th>Unit</th>
      <th>Bed</th>
      <th>Admission</th>
      <th>Hospital</th>
      <th>Cause</th>

      <th>etilismo</th>
      <th>tempoEtilismo</th>

      <th>tabagismo</th>
      <th>tempoTabagismo</th>

      <th>gravity</th>
      <th>plantasMedicinais</th>
      <th>reacoesAdversas</th>
      <th>sequels</th>

      <th>treatment</th>
      <th>exposicaoPrevia</th>
      <th>desenvolveuReacao</th>
      <th>usaCocaina</th>
      <th>usaCrack</th>
      <th>usaLSD</th>
      <th>usaMaconha</th>
      <th>anotherLocation</th>

      <th>algNaranjo</th>
      <th>algOMS</th>
      <th>algRUCAM</th>
      <th>algUE</th>

      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @researches.each do |research| %>
      <tr>
        <td><%= research.handbook %></td>
        <td><%= research.name %></td>
        <td><%= research.cns %></td>
        <td><%= research.sex %></td>
        <td><%= research.weight %></td>
        <td><%= research.height %></td>
        <td><%= research.color %></td>
        <td><%= research.unit %></td>
        <td><%= research.bed %></td>
        <td><%= research.admission %></td>
        <td><%= research.hospital %></td>
        <td><%= research.cause %></td>
        <th><%= research.etilismo %></th>
        <td><%= research.tempoEtilismo %></td>

        <td><%= research.tabagismo %></td>
        <td><%= research.tempoTabagismo %></td>

        <td><%= research.gravity %></td>
        <td><%= research.plantasMedicinais %></td>
        <td><%= research.reacoesAdversas %></td>
        <td><%= research.sequels %></td>

        <td><%= research.treatment %></td>
        <td><%= research.exposicaoPrevia %></td>
        <td><%= research.desenvolveuReacao %></td>
        <td><%= research.usaCocaina %></td>
        <td><%= research.usaCrack %></td>
        <td><%= research.usaLSD %></td>
        <td><%= research.usaMaconha %></td>
        <td><%= research.anotherLocation %></td>

        <td><%= research.algNaranjo %></td>
        <td><%= research.algOMS %></td>
        <td><%= research.algRUCAM %></td>
        <td><%= research.algUE %></td>
        <td><%= link_to 'Show', research %></td>
        <td><%= link_to 'Edit', edit_research_path(research) %></td>
        <td><%= link_to 'Destroy', research, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Research', new_research_path %><br>
<%= link_to 'Excel Research', action: :excel, format: :xls %>

