<p id="notice"><%= notice %></p>

<p>
  <strong>Prontuário:</strong>
  <%= @research.handbook %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @research.name %>
</p>

<p>
  <strong>Cns:</strong>
  <%= @research.cns %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @research.sex %>
</p>

<p>
  <strong>Peso:</strong>
  <%= @research.weight %>
</p>

<p>
  <strong>Altura:</strong>
  <%= @research.height %>
</p>

<p>
  <strong>Cor:</strong>
  <%= @research.color %>
</p>

<p>
  <strong>Unidade:</strong>
  <%= @research.unit %>
</p>

<p>
  <strong>Leito:</strong>
  <%= @research.bed %>
</p>

<p>
  <strong>Data de Admissão:</strong>
  <%= @research.admission %>
</p>

<p>
  <strong>Hospital:</strong>
  <%= @research.hospital.name %>
</p>

<p>
  <strong>Consumo de Tabagismo:</strong>
  <%= @research.hospital.name %>
</p>

<p>
  <strong>Tempo de Tabagismo:</strong>
  <%= @research.hospital.name %>
</p>

<p>
  <strong>Consumo de Etilismo:</strong>
  <%= @research.hospital.name %>
</p>

<p>
  <strong>Tempo de Etilismo:</strong>
  <%= @research.hospital.name %>
</p>

<p>
  <strong>Gravidade:</strong>
  <%= @research.hospital.name %>
</p>

<p>
  <strong>Plantas Medicinais:</strong>
  <%= @research.hospital.name %>
</p>

<p>
  <strong>Reacães Adversas:</strong>
  <%= @research.hospital.name %>
</p>

<p>
  <strong>Sequelas:</strong>
  <%= @research.hospital.name %>
</p>

<p>
  <strong>Tratamento:</strong>
  <%= @research.hospital.name %>
</p>

<p>
  <strong>Exposiço Previa:</strong>
  <%= @research.hospital.name %>
</p>

<p>
  <strong>usa Cocaina: <%= @research.usaCocaina %></strong>
</p>

<p>
  <strong>usa Crack:<%= @research.usaCrack %></strong>
</p>

<p>
  <strong>usa LSD: <%= @research.usaLSD %></strong>
</p>

<p>
  <strong>usa Maconha: <%= @research.usaMaconha %></strong>
</p>

<p>
  <strong>anotherLocation</th>
</p>
<th>Algoritmo Naranjo</th>
<th>Algoritmo OMS</th>
<th>Algoritmo RUCAM</th>
<th>Algoritmo UE</th>

<p>
  <strong>Plantas Medicinais:</strong>
  <%= @research.hospital.name %>
</p>

<p>
  <strong>Plantas Medicinais:</strong>
  <%= @research.hospital.name %>
</p>

<%= link_to 'Edit', edit_research_path(@research) %> |
<%= link_to 'Back', researches_path %>
