<p id="notice"><%= notice %></p>

<p>
  <strong>Handbook:</strong>
  <%= @research.handbook %>
</p>

<p>
  <strong>Name:</strong>
  <%= @research.name %>
</p>

<p>
  <strong>Cns:</strong>
  <%= @research.cns %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @research.sex %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @research.weight %>
</p>

<p>
  <strong>Height:</strong>
  <%= @research.height %>
</p>

<p>
  <strong>Color:</strong>
  <%= @research.color %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @research.unit %>
</p>

<p>
  <strong>Bed:</strong>
  <%= @research.bed %>
</p>

<p>
  <strong>Admission:</strong>
  <%= @research.admission %>
</p>

<p>
  <strong>Hospital:</strong>
  <%= @research.hospital %>
</p>

<p>
  <strong>Cause:</strong>
  <%= @research.cause %>
</p>

<%= link_to 'Edit', edit_research_path(@research) %> |
<%= link_to 'Back', researches_path %>
