<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Administrador:</strong>
  <%= @user.admin %>
</p>

<p>
  <strong>Hospitais:</strong>
  <%= @user.hospitals.map(&:name).join(", ") %>
</p>

<%= link_to 'Editar', edit_user_path(@user) %> |
<%= link_to 'Voltar', users_path %>
