<h1>Hospitais</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Acronimo</th>
      <th>Cidade</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @hospitals.each do |hospital| %>
      <tr>
        <td><%= hospital.name %></td>
        <td><%= hospital.acronym %></td>
        <td><%= hospital.city %></td>
        <td><%= link_to 'Show', hospital %></td>
        <td><%= link_to 'Editar', edit_hospital_path(hospital) %></td>
        <td><%= link_to 'Deletar', hospital, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Hospital', new_hospital_path %>
