<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @hospital.name %>
</p>

<p>
  <strong>Acrônimo:</strong>
  <%= @hospital.acronym %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @hospital.city %>
</p>

<%= link_to 'Edit', edit_hospital_path(@hospital) %> |
<%= link_to 'Back', hospitals_path %>
